#mainNav{
    position: absolute;
    width: 100%;
    font-family: "Roboto", "Lato", Arial, "Helvetica Neue", sans-serif;
    background-color:#283e4a;
}

#mainNav > div.container{
    background-color: transparent;
}